<!DOCTYPE html>
<html>
    <head>
        <title>Jeu du Serpent</title>
        <meta charset="utf-8"/>
        <meta name="Language" content="fr" />
        <meta http-equiv="Content-Type" content="text/html" /> 
        <meta name="author" content="Amir Saoudi"/>
        <meta name="publisher" content="Amir Dev" />
        <meta name="googlebot" content="index,follow,nosnippet" />
        <meta name="reply-to" content="contact@amirdevelop.com" />
        <meta name="keywords" content="développeur,full-stack,web,integration,Freelance,job-opportunity,Amir,Saoudi,Programmation"/>
        <link rel="canonical" href="http://www.amirdevelop.com/#" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142046419-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('set', {'user_id': 'USER_ID'}); // Set the user ID using signed-in user_id.
  gtag('config', 'UA-142046419-2');
</script>
        <script src="script.js"></script>
    </head>
</html>
